/*
1. Positioning
2. Box model
3. Typography
4. Visual effects
5. Others
*/
:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-black-two: #282623;
    --gray: #757575;
    --off-white: #FAF8F7;
    --just-white: #fff;
    /* font numbers */
    --font-inter: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;

    /* Generar efecto de movimiento invocadno botones */
    scroll-behavior: smooth;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 32rem;
    height: 30rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 12.857rem;
    height: 2.4rem;
    margin-top: 3.9rem;
    align-self: center;
}
.header__title-container {
    width: 88%;
    margin-top: 3.3rem;
    min-width: 28.8rem;
    max-width: 90rem;
    align-self: center;
    text-align: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__button {
    position: absolute;
    top: 90%;
    left: calc(50% - 11.45rem);

    height: 4.8rem;
    width: 22.9rem;
    padding: 1.55rem;

    background-color: var(--off-white);
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
    cursor: pointer;
}
.header__button span {
    display: inline-block;
    width: 1.2rem;
    height: 1rem;
    margin: 0 0 0 1rem;
    background-image: url("./assets/icons/down-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
}
main {
    width: 100%;
    min-width: 32rem;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding: 5.5rem 1.5rem;
    text-align: center;
}
.main-exchange-container__background-img {
    position: relative;
    width: 19.5rem;
    height: 19.5rem;
    margin: 0 auto 4rem auto;
    background-image: url("./assets/imgs/bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container__title {
    width: 94%;
    min-width: 26rem;
    max-width: 90rem;
    /* como no está ocupando el 100% se va a ubicar en el centro siempre */
    margin: 0 auto;
}
.main-exchange-container__title h2 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.main-exchange-container__title p {
    margin-bottom: 4.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--gray);
}
.main-currency-table {
    width: 60%;
    min-width: 24rem;
    max-height: 50rem;
    height: 31.5rem;
    margin: 0 auto;
    font-family: var(--font-inter);
}
.currency-table__arrow-table {
    display: flex;
    flex-direction: column;
    width: 1.2rem;
    height: 25rem;
    justify-content: center;
    margin-right: 2.2rem;
}
.currency-table__arrow-table .left-arrow {
    width: 1.2rem;
    height: 1.5rem;
    background-image: url("./assets/icons/left-arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.currency-table__arrow-right-table {
    display: flex;
    flex-direction: column;
    width: 1.2rem;
    height: 25rem;
    justify-content: center;
    margin-left: 2.2rem;
}
.currency-table__arrow-right-table .right-arrow {
    width: 3rem;
    height: 3rem;
    align-self: center;
    background-image: url("./assets/icons/right-arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-currency-table .currency-table__title {
    margin: 0 0 1.2rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table__container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}
.currency-table__container table {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}
.currency-table__container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    letter-spacing: -0.02rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.currency-table__container .table__top-left {
    border-radius: 0.8rem 0 0 0;
}
.currency-table__container .table__top-right {
    border-radius: 0 0.8rem 0 0;
}
.currency-table__container .table__bottom-left {
    border-radius: 0 0 0 0.8rem;
}
.currency-table__container .table__bottom-right {
    border-radius: 0 0 0.8rem 0;
}
.currency-table__container .table__right {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: -0.02rem;
    color: var(--gray);
}
.currency-table__container .down {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1rem;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table__container .up {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1rem;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table__date {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19rem;
    height: 3rem;
    padding: 0.8rem;
    background-color: var(--soft-orange);
    border-radius: 0.8rem;

    font-size: 1rem;
    font-weight: 300;
    color: var(--warm-black);
    line-height: 1.5rem;
}
.currency-table__date b {
    color: var(--warm-black);
}
.main-detail-product {
    position: relative;
    width: 100%;
    min-width: 32rem;
    height: auto;
    padding: 6.4rem 1.6rem 4.6rem 1.6rem;
    background-color: var(--warm-black);
}
.product-detail__batata-logo {
    position: absolute;
    /* es la posicion vertical */
    top: calc(0% - 1.4rem);
    left: calc(50% - 2rem);
    width: 4rem;
    height: 2.5rem;
    background-image: url("./assets/icons/logo.svg");
}
.product-detail__title {
    width: 90%;
    min-width: 28.8rem;
    margin: 0 auto;
    text-align: center;
}
.product-detail__title h2 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail__title p {
    margin-bottom: 3.3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: #808080;
}
.product-detail__card {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    min-height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem 1.5rem 2.2rem 1.5rem;
    background-color: var(--warm-black-two);
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail__card .icon-card {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail__card .icon-eye {
    background-image: url("./assets/icons/eye.svg");
}
.product-detail__card .icon-dollar {
    background-image: url("./assets/icons/dollar-sign.svg");
}
.product-detail__card .icon-check {
    background-image: url("./assets/icons/check-circle.svg");
}

.product__card-title {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product__card-body {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container {
    width: 100%;
    min-height: 32rem;
    height: 50vh;
    background-image: url("./assets/imgs/woman-bitcoinx2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 6rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    height: auto;
    text-align: center;
}
.plans__title {
    margin: 6.4rem auto 0 auto;
    width: 90%;
    min-width: 28.8rem;
}
.plans__title h2 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans__title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--gray);
}
.plans-container__slider {
    display: flex;
    width: 100%;
    /* gap: 1rem; */
    margin: 0 auto 6.4rem auto;
    height: 33rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container__card {
    position: relative;
    /* Para ayudar a centrar la tarjeta que estamos mostrado(verla completa) */
    scroll-snap-align: center;
    margin: 0 auto;
    width: 70%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 6rem 0.5rem 0;
    padding: 0 1.5rem;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.8rem;
}
.recommended {
    position: absolute;
    top: calc(0% - 1.6rem);
    left: calc(50% - 6rem);
    width: 12rem;
    height: 3.1rem;
    padding: 0.8rem;
    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--just-white);
}
.plan-card__title {
    margin: 2.4rem auto 0.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #000;
}
.plan-card__price {
    position: relative;
    margin-bottom: 1.6rem;
    font-family: var(--font-inter);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.3re;
    letter-spacing: -0.4rem;
    color: #000;
}
.plan-card__price span {
    position: absolute;
    top: calc(0% - -0.9rem);
    left: calc(50% - 4rem);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.plan-card__saving {
    margin-bottom: 1.6rem;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--gray);
}
.plan-card__ca {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 15rem;
    padding: 1rem 1.4rem;

    border: 0.2rem solid var(--bitcoin-orange);
    background-color: var(--off-white);
    border-radius: 0.4rem;

    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: -0.01rem;
    color: var(--warm-black);
    cursor: pointer;
}
.plan-card__ca span {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.8rem;
    background-image: url("./assets/icons/arrow-right-orange.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 32rem;
    height: 15rem;
    padding: 4rem;
    background-color: var(--bitcoin-orange);
}
.footer__links li {
    margin-bottom: 0.8rem;
    list-style: none;
}
.footer__links li a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--just-white);
}
.footer__short-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--soft-orange);
}
.footer__short-logo span {
    display: inline-block;
    width: 5.6rem;
    height: 3rem;
    background-image: url("./assets/imgs/short-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}